<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'patientsData'}}active{{/ifCond}}" href="/admin/patients">EACH DATA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'patientsList'}}active{{/ifCond}}" href="/admin/users">PATIENTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'abgCalculator'}}active{{/ifCond}}" href="/admin/abgCalculator">ABG Calculator</a>
  </li>
</ul>