<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'allData'}}active{{/ifCond}}" href="/admin/patients/all/{{tab.userId}}">ALL DATA</a>
  </li>

  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'allRecords'}}active{{/ifCond}}" href="/admin/records/all/{{tab.userId}}">MEDICAL RECORDS</a>
  </li>
</ul>