<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'patients'}}active{{/ifCond}}" href="/patients">個人數據</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'contests'}}active{{/ifCond}}" href="/contests">一起顧健康</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'friends'}}active{{/ifCond}}" href="/friends">好友</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'profile'}}active{{/ifCond}}" href="/users/{{user.id}}">個人資料</a>
  </li>
</ul>