<div class="form-row mb-3">
  <label class="form-label" for="description">Description</label>
  <textarea class="form-control" id="description" name="description" rows="3">患者姓名：{{patient.description}}</textarea>
</div>