<form action="/patients" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">新增數據</h1>
  </div>

  {{> patient-form}}

  <button type="submit" class="btn btn-primary">送出</button>
</form>

<a class="btn btn-outline-secondary" href="/">返回</a>