<form action="/patients/{{patient.id}}?_method=PUT" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">更新數據</h1>
  </div>

  {{> patient-form}}

  <button type="submit" class="btn btn-primary">更新</button>
</form>

<a class="btn btn-outline-secondary" href="/">返回</a>