<h1>{{user.name}}的好友</h1>

{{> patient-tabs route='friends'}}

{{> friend-search}}

<i class="fa-regular fa-lightbulb mt-2"></i><span class="text-danger fw-bold"> 小提醒：點選圖片可以查看其個人資料</span>

<br />

{{> friend-cards}}