{{> patient-data}}

{{> patient-data-tabs route='notes'}}

{{!-- 評論 --}}
<h4 class="mb-3 fw-bold">所有提醒：</h4>
{{#each patient.Comments}}
  <blockquote class="blockquote mb-0">
    <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
    <p>{{this.text}}</p>
    <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
  </blockquote>
  <hr />
{{/each}}