<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-row mb-3">
    <label class="form-label" for="name">姓名</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{user.name}}" required>
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="photo">照片</label>
    <input class="form-control" type="file" class="form-control-file" id="photo" name="photo">
  </div>
  
  <div class="form-row mb-3">
    <label class="form-label" for="intro">自我介紹</label>
    <textarea class="form-control" id="intro" name="intro" rows="3">{{user.intro}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">送出</button>
  <a class="btn btn-outline-secondary" href="/users/{{user.id}}">返回</a>
</form>